body {
    max-width: 1200px;
    margin: auto;
}
section {
    justify-content: space-between;
    background-color: black;
    padding: 30px;
    margin: 20px;
}
.flex {
    display: flex;
}
.bloque1 {
    background-image: url('images/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    justify-content: space-between;
    background-color: black;
    padding: 30px;
    margin: 10px 20px;
}
.cabecera { 
    justify-content: space-between; 
    align-items: center;
    background-color: transparent;
    padding: 15px 15px; 
    margin: 10px;
}
.logo {
    background:transparent;
    padding: 15px;
    margin: 10px;
    width: auto;
}
.navegacion {
    background:transparent;
    padding: 15px;
    margin: 10px;
    width: auto;
}
.botones-nav {
    margin: 0 20px;
    color: gray;
    text-decoration: none;
    transition: color 0.3s; 
}
.botones-nav:hover {
    color: rgb(233, 148, 137);
}
.botones-nav i { 
    font-size: 20px; 
    margin-right: 5px; 
}
.redes-sociales {
    display: flex;
    margin: 0 5px;
    font-size: 24px;
    color: gray;
    text-decoration: none;

}
.redes-sociales:hover {
    color: rgb(233, 148, 137);
}
.div1 { 
    justify-content: space-between; 
    background-color: transparent;
    padding: 15px 15px; 
    margin: 10px;
}
.texto1 {
    background:transparent;
    padding: 15px;
    margin: 10px;
    width: 100%;
    font-size: 24px;
    color: rgba(233,116,101,0.75);
    text-align: center;
}
.bloque2 {
    justify-content: space-between;
    background-color: rgb(188, 187, 187);
    padding: 5px;
    margin: 10px 20px;
}
.div2 {
    justify-content: space-between; 
    background-color: rgb(188, 187, 187);;
    padding: -1px 1px;
    margin: 10px;
    width: 70%;
}
.div2a {
    display: flex;
}

.div2b {
    display: flex;
}

.div2c {
    display: flex;
    
}

.div3 {
    justify-content: space-around;
    background-color: rgb(201, 200, 200);;
    padding: 20px 15px;
    margin: 10px;
    width: 30%;
}

.container1 {
    justify-content: center;
    background: rgb(230, 221, 221);
    padding: 15px;
    margin: 10px;
    width: 50%;
}
.container1 img{
    width: 100%; 
    height: auto; 
}
.imagen-con-texto {
    position: relative;
    text-align: center;
}
.imagen-con-texto .fecha {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
}
.titulo-paragrafo {
    width: auto; 
    background-color: rgb(233,116,101);
    color: white; 
    text-align: left; 
    padding: 10px; 
}
.paragrafo {
    column-count: 2; 
    column-gap: 10px; 
}
.negrita {
    font-weight: bold;
}
.texto2 {
    background: transparent;
    text-align: center;
    padding: 15px;
    margin: 10px;
    width: 100%;
}
.texto3 {
    background: transparent;
    text-align: center;
    padding: 15px;
    margin: 10px;
}
.titulo-texto3{
    text-align: center;
}

.bloque3 {
    justify-content: space-between;
    background-color: rgb(188, 187, 187);
    padding: 0 5px;
    margin: 10px 20px;
}
.texto4 {
    background: rgb(227, 224, 224);
    text-align: center;
    padding: 15px;
    margin: 10px;
}
@media (max-width: 1024px) { 
    .cabecera {
        flex-direction: column;
        align-items: flex-start; 
    }
    .navegacion {
        flex-direction: column;
    }
    .botones-nav {
        margin: 10px 0; 
        text-align: center; 
        width: 100%; 
    }
    .bloque2 {
        background-color: rgb(188, 187, 187);
        display: block; 
        padding: 5px;
        margin: 10px 20px;
    }
    .div2 {
        justify-content: space-between; 
        padding: 15px 15px;
        margin: 10px;
        width: auto;
    }
    .div3 {
        justify-content: space-around;
        padding: 15px 15px;
        margin: 10px;
        width: auto;
    }
}
@media (max-width: 650px) { /*version movil*/
    .cabecera {
        flex-direction: column;
        align-items: center;
    }
    .navegacion {
        flex-direction: column;
    }
    .botones-nav {
        margin: 10px 0; 
        text-align: center;
        width: 100%; 
    }
    .div1 {
        display: block;
    }
    .texto1 {
        background:transparent;
        padding: 15px;
        margin: 15px;
        width: auto;
    }
    .div2 {
        background-color: rgb(227, 224, 224);
        padding: 15px 15px;
        margin: 10px;
        width: auto;
    }
    .div2a {
        display: block;
    }
    .div2b {
        display: block;
    }
    .container1 {
        background: rgb(188, 187, 187);
        padding: 15px;
        margin: 10px;
        width: auto;
    }
    .div2c {
        display: block;
        width: auto;
    }
    .texto2 {
        background: transparent;
        padding: 15px;
        margin: 10px;
        width: auto;
    }
    
}